<p id="notice"><%= notice %></p>

<h1>Memomon_created by Azupo</h1>
<br><br><br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Name<th>
      <th colspan="3"></th>

  </thead>
  

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= memo.memo %></td>
        <td><%= memo.name %></td>
        <td><%= link_to 'Show', memo %></td>
        <td><%= link_to 'Edit', edit_memo_path(memo) %></td>
        <td><%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'You cant recovery this,are you OK?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to 'New Memo', new_memo_path %>
