<p id="notice"><%= notice %></p>

<h1>けいあずのお知らせ板</h1>
<br>
<p>this page is a message board for keiazu!</p>
<a href="https://twitter.com/keyhal"target="_blank">main twitter account(@keyhal)</a>
<br><br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Name</th>
      <th>Posting_Date</th>
      <th colspan="3"></th>

  </thead>
  

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= simple_format(memo.memo) %></td>
        <td><%= memo.name %></td>
        <td><%= memo.time %></td>
        <td><%= link_to 'Show', memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<p>this page is created by Ruby_on_Rails 5.2.3</p>

