<p id="notice"><%= notice %></p>

<h1>けいあずのお知らせ板</h1>
<br><br>
<p>this page is a message board for keiazu!</p>
<a href="https://twitter.com/k5azu"target="_blank">Twitterアカウント(@k5azu)</a>
<a href="https://twitter.com/keyhal"target="_blank">Twitter鍵垢(@keyhal)</a>
<a href="https://twitcasting.tv/keyhal"target="_brank">ツイキャス</a>

<br><br>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>お知らせ</th>
      <th>投稿者</th>
      <th>投稿日</th>
      <th colspan="3"></th>

  </thead>
  

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= simple_format(memo.memo) %></td>
        <td><%= memo.name %></td>
        <td><%= memo.time %></td>
        <td><%= link_to '詳細', memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<p>created by Ruby_on_Rails 5.2.3</p>
<%= link_to 'link of english version!', eng_path %>
