<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>お知らせ:</strong>
  <%= simple_format(@memo.memo) %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @memo.name %>
</p>

<p>
  <strong>投稿日:</strong>
  <%= @memo.time %>
</p>
<p>
  <strong>管理番号:</strong>
  <%= @memo.id %>
</p>

<%= link_to 'Back', memos_path %>
