<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= simple_format(@memo.memo) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @memo.name %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Destroy', @memo, method: :delete, data: { confirm: 'You cant recovery this again,are you OK?' } %> |
<%= link_to 'Back', memos_path %>
