<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>お知らせ:</strong>
  <%= simple_format(@memo.memo) %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @memo.name %>
</p>

<p>
  <strong>投稿日:</strong>
  <%= @memo.time %>
</p>
<p>
  <strong>管理番号:</strong>
  <%= @memo.id %>
</p>

<div class="twitter">
　<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
data-text="お知らせ板更新しました！" data-show-count="false">
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 Tweet
 </a>
</div>
<%= link_to 'Back', memos_path %>
