<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= simple_format(@memo.memo) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @memo.name %>
</p>

<p>
  <strong>Posting_Date:</strong>
  <%= @memo.time %>
</p>
<p>
  <strong>Control_Number:</strong>
  <%= @memo.id %>
</p>

<%= link_to 'Back', memos_path %>
